@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: 10px 0;

  &--scrolled {
    background-color: rgba(#fff, 1);      
    border-bottom: 1px solid $accent;
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

.footer {
  background-color: $accent;
  font-size: 16px;

  .logo {
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__address {
    max-width: 165px;
    margin-right: 40px;
  }

  &__phone {
    margin-right: 55px;
  }

  &__comand {
    margin-left: 100px;

    a {
      margin-top: 3px;
      display: block;
    }
  }   
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 28px;
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &.link {
      &:hover, &.active {
        border-bottom: 2px solid $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto 40px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }
}

.s {
  &-main {
    padding-top: 150px;
    background-image: url('../img/main-back.jpg');

    &-title {
      font-size: 39px;
      margin: 0 0 35px 0;
      text-align: left;
      font-weight: bold;
    }
  }

  &-thanks {
    padding: 200px 0 100px 0;
    flex-grow: 1;
      
    &__title {
      color: $accent;
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 24px;
      margin: 0 0 125px;
    }
  
    &__link {
      text-decoration: underline;
      color: $accent;
    }
  }
}


@import './_media';